<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests">

<listeners>
<listener class-name="employeeTC.Listeners"/>
<listener class-name="pagesContentChecks.Listeners"/>
<listener class-name="Search.Listeners"/>
<listener class-name="superAdmin_ChallengeCreation.Listeners"/>
<listener class-name="superAdminTC.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Search.SearchForIdea"/>
      
<!--       <class name="superAdmin_ChallengeCreation.SAdminChallengeevaluation"/> -->
<!--       <class name="superAdmin_ChallengeCreation.fortest"/> -->
<!--       <class name="superAdmin_ChallengeCreation.test"/> -->
     
<!--       <class name="employeeTC.AddIdeaToChallenge"/> -->
<!--       <class name="superAdminTC.winningPodiumStage"/> -->
<!--       <class name="employeeTC.registration"/> -->
      <class name="employeeTC.Login"/>
<!--       <class name="superAdminTC.committeeStage"/> -->
<!--       <class name="employeeTC.employeeAddIdeaTC02"/> -->
<!--       <class name="pagesContentChecks.GeneralPageValidation"/> -->
<!--       <class name="superAdmin_ChallengeCreation.CreateChallenge"/> -->
<!--       <class name="superAdminTC.ExpertReviewStage"/> -->
<!--       <class name="superAdminTC.Login"/> -->
<!--       <class name="superAdmin_ChallengeCreation.EmployeeAddIdeaToChallenge"/> -->
<!--       <class name="superAdminTC.Test1"/> -->
<!--       <class name="superAdminTC.quarterEvaluation"/> -->
<!--       <class name="pagesContentChecks.Dashboardvalidation"/> -->
<!--       <class name="employeeTC.HomeEmployee"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
